* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
#obj {
  height: 20%;
  position: relative;
  width: 20%;
  left: 0;
  top: 16rem;
}
/* .dronee {
  position: relative;
}
#drone {
  width: 31%;
} */
.eagle {
  width: 7%;
  position: absolute;
  top: 70px;
  opacity: 1;
  animation: eagle 8s linear infinite;
}
@keyframes eagle {
  0% {
    right: 0%;
    opacity: 1;
  }
  20% {
    right: 20%;
    opacity: 1;
  }
  40% {
    right: 40%;
    opacity: 1;
  }
  60% {
    right: 60%;
    opacity: 1;
  }
  80% {
    right: 80%;
    top: 7rem;
    opacity: 1;
  }
  100% {
    right: 100%;
    opacity: 0;
  }
}
.kaktus {
  width: 18%;
  position: absolute;
  bottom: 2rem;
  opacity: 1;
  animation: kaktus 6s linear infinite;
}
@keyframes kaktus {
  0% {
    right: 0%;
    opacity: 1;
  }
  20% {
    right: 25%;
    opacity: 1;
  }
  40% {
    right: 50%;
    opacity: 1;
  }
  60% {
    right: 75%;
    opacity: 1;
  }
  81% {
    right: 95%;
    opacity: 1;
  }
  100% {
    right: 100%;
    opacity: 0;
  }
}
.sunny {
  position: absolute;
  width: 28%;
  left: -7%;
  animation: sunny 20s linear infinite;
  opacity: 1;
}
@keyframes sunny {
  0% {
    left: 0%;
    top: 5%;
    opacity: 1;
  }
  10% {
    top: -2%;
  }
  20% {
    left: 20%;
    top: -3%;
    opacity: 1;
  }
  40% {
    left: 40%;
    top: -6%;
    opacity: 1;
  }
  50% {
    top: -8%;
  }
  60% {
    left: 60%;
    top: -6%;
    opacity: 1;
  }
  80% {
    left: 80%;
    top: -3%;
    opacity: 1;
  }
  90% {
    top: -1%;
  }
  100% {
    left: 100%;
    top: 5%;
    opacity: 0;
  }
}

.kaktus-2 {
  position: absolute;
  bottom: 1rem;
  width: 11%;
  margin: 0 1rem;
  bottom: 4%;
  /* animation: kaktus-2 9s linear infinite; */
}
@keyframes kaktus-2 {
  0% {
    right: 0%;
    opacity: 1;
  }
  20% {
    right: 25%;
    opacity: 1;
  }
  40% {
    right: 50%;
    opacity: 1;
  }
  60% {
    right: 75%;
    opacity: 1;
  }
  81% {
    right: 95%;
    opacity: 1;
  }
  100% {
    right: 100%;
    opacity: 0;
  }
}
.kaktus-3 {
  width: 8%;
  position: absolute;
  bottom: 2rem;
  opacity: 1;
  bottom: 1%;
  /* animation: kaktus-3 4s linear infinite; */
}
@keyframes kaktus-3 {
  0% {
    right: 0%;
    opacity: 1;
  }
  20% {
    right: 25%;
    opacity: 1;
  }
  40% {
    right: 50%;
    opacity: 1;
  }
  60% {
    right: 75%;
    opacity: 1;
  }
  100% {
    right: 100%;
    opacity: 0;
  }
}
.kaktus-4 {
  position: absolute;
  bottom: 1rem;
  width: 10%;
  margin: 0 1rem;
}
.grass {
  position: absolute;
  width: 8%;
  bottom: 1rem;

  animation: grassov 3s linear infinite;
}
@keyframes grassov {
  0% {
    right: 10%;
  }
  50% {
    right: 50%;
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(-720deg);
    right: 100%;
    opacity: 0.8;
  }
}

.scrolling-image {
  background: url("./background-image.jpg") repeat-x;
  height: 750px;
  width: 100%;
  position: absolute;
  background-size: cover;
}
@keyframes slide {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-3840px);
  }
}

.scrolling-image {
  background: url(https://static.vecteezy.com/system/resources/previews/002/836/675/original/game-desert-background-vector.jpg)
    repeat-x;
  height: 750px;
  width: 76800px;
  /* animation: slide 14s linear infinite; */
}
